<div class="container">
    <h3>Interpolation</h3>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Age</th>
            <th>Persional</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ firstName }}</td>
            <td>{{ lastName }}</td>
            <td>{{ email }}</td>
            <td>{{ age }}</td>
            <td>{{ isMarried ? "Da ket hon" : "Doc than" }}</td>
            <td><a href="{{ linkURL }}"><img src="{{ image }}" alt="" width="70"></a></td>
          </tr>
        </tbody>
      </table>
<hr>
<h3>Property binding</h3>
</div>